<!DOCTYPE html>
<html>

<head>
  <title>Ilmoituksen muokkaus</title>
</head>

<body>
    <h1>Ilmoituksen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea rows="8" cols="40" name="description">{{ item.description }}</textarea>
    </p>
    <input type="submit" value="Päivitä ilmoitusta" />
    <input type="hidden" name="item_id" value="{{ item.id }}" />
  </form>
</body>

</html>