{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
<h2>Ilmoituksen muokkaus</h2>
<form action="/update_item" method="post">
  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  <p>
    <label for="title">Otsikko:</label><br />
    <input type="text" name="title" id="title" maxlength="45" value="{{ item.title }}" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label><br />
    <textarea id="description" rows="8" cols="40" name="description" maxlength="1000" required>{{ item.description }}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label><br />
    <select name="classes" id="class{{ class }}">
    {% for option in all_classes[class] %}
      <option value="{{ class }}:{{ option }}" 
        {% if classes[class] == option %} selected {% endif %}>
        {{ option }}
      </option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä ilmoitusta" />
</form>
{% endblock %}
