 <!DOCTYPE html>
<html>

<head>
  <title>Etsi kalapaikkoja</title>
</head>

<body>
  <h1>Etsi kalapaikkoja</h1>
  <form action="/find_items" method="get">
    <input type="text" name="query" placeholder="Hae paikkoja..." value="{{ query }}">

  </p>
    <button type="submit">Hae</button> 
</p>
  <p>
    <a href="/">Etusivulle</a>
  </p>
  </form>
  <h1>Hakutulokset</h1>
  {% if query %}
    <p>Hakutulokset hakusanalla: <strong>{{ query }}</strong></p>
  {% endif %}
  <ul>
    {% if not items %}
      <li>Ei tuloksia</li>
    {% endif %}

    {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>