{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
<h2>Ilmoituksen kuvat</h2>

<p>
    Ilmoituksessa on {{ images|count }} kuvaa.
</p>
<form action="/remove_images" method="post">
    {% for image in images %}
    <input type="checkbox" name="image_id" value="{{ image.id }}" />
    <img src="/image/{{ image.id }}" alt="Kuva ilmoituksesta" width="100" />
    {% endfor %}
    <br />
    <input type="hidden" name="place_id" value="{{ place.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Poista valitut kuvat" />
</form>
<form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
        <h3><label for="image">Lisää kuva:</label><br /></h3>
        <input type="file" id="image" name="image" accept=".png" />

    <input type="hidden" name="place_id" value="{{ place.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
    </p>
    </form>

<p>
    <a href="/place/{{ place.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}