<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="top">
      <input type="checkbox" id="home-link" hidden onclick="window.location='/'">
      <label for="home-link" style="cursor:pointer; font-size:2em; font-weight:bold;">
          Kalastuspaikat
      </label>
      <br>
        {% if session.username %}
          Kirjautuneena nimellä: <a href="/user/{{ session.username}}">{{ session.username }}</a>
        {% endif %}
        {% for message in get_flashed_messages() %}
        <div class="info">
          {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="middle">
        <p>
            <a href="/">Etusivu</a> |
            {% if session.username %}
                <a href="/new_item">Uusi ilmoitus</a> |
                <a href="/logout">Kirjaudu ulos</a>
            {% else %}
                <a href="/register">Rekisteröidy</a> |
                <a href="/login">Kirjaudu sisään</a>
            {% endif %}
        </p>
        {% block content %}{% endblock %}
    </div>
    <div class="bottom">
        <footer>
            <p>Kalastuspaikat - Parhaat paikat kalastukseen.</p>
        </footer>
    </div>
</body>

</html>
