{% extends "layout.html" %}

{% block title %}Uusi ilmoitus{% endblock %}

{% block content %}
<h1>Uusi ilmoitus</h1>
<form action="/create_item" method="post">
  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  <p>
    Otsikko: <br />
    <input type="text" name="title" maxlength="45" required />
  </p>
  <p>
    Kuvaus: <br />
    <textarea rows="8" cols="40" name="description" maxlength="999"required ></textarea>
  </p>
  {% for class in classes %}
  <p>
    {{ class}}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Luo Ilmoitus" />
</form>
{% endblock %}