<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus </title>
</head>

<body>
    <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="45" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea rows="8" cols="40" name="description" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Luo Ilmoitus" />
  </form>
</body>

</html>