<!DOCTYPE html>
<html>

<head>
 <title>{{ item.title }}</title>
</head>

<body>
    <h1>Kalastuspaikka</h1>
    {% if session.username == item.username %}
    <p>
        <a href="/edit_item/{{ item.id }}">Muokkaa</a>
        <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>
    {% endif %}
    <h1>{{ item.title }}</h1>


    <p>{{ item.description }}</p>
    <p>
        <p>Ilmoittaja: <a href="/user/{{ item.username }}">{{ item.username }}</a>
        </p>
    {% if classes %}
        <p>INFO
            {% for class in classes%}
            <li>{{ class.title}}: {{ class.value }}</li>
            {% endfor %}
        </p>
    </p>
    {% endif %}
    <h2>Kommentit</h2>
    {% for value in comments %}
    <li>{{ value.comment }}, <a href="/user/{{ value.username}}">{{ value.username }}</a></li>
    {% endfor %}
    <h2>Uusi kommentti</h2>
    <form action="/create_comment" method="post">
        Kommentti:<br>
        <textarea name="comment" maxlength="500" rows="5" cols="50"></textarea><br>
        <input type="hidden" name="item_id" value="{{ item.id }}" />
        <input type="submit" value="Lisää kommentti" />
    </form>
    <p>
        <a href="/">Takaisin ilmoituksiin</a>
    </p>
</body>

</html>