{% extends "layout.html" %}

{% block title %}{{  place.title  }}{% endblock %}

{% block content %}

    {% if session.username == place.username %}
    <p>
        <a href="/edit_place/{{ place.id }}">Muokkaa</a> |
        <a href="/remove_place/{{ place.id }}">Poista</a> |
        <a href="/images/{{ place.id }}">Kuvat</a>
    </p>
    {% endif %}
    <h1>{{ place.title }}</h1>

    <h2>Kuvaus</h2>
    <div class="description-box">{{ place.description | show_lines }}
            
    {% if classes %}
    <p>

        {% for class in classes%}
        <li>{{ class.title}}: {{ class.value }}</li>
        {% endfor %}
    {% endif %}  
        
    <li>Ilmoittaja: <a href="/user/{{ place.username }}">{{ place.username }}</a></li> 
    </p></div>
    {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Kuva ilmoituksesta" width="150" />
    {% endfor %}
    {% if comments %}
    <h3>Kommentti sivu: 
        {% if page > 1 %}
        <a href="{{ url_for('show_place', place_id=place.id, page=page-1) }}">&lt;</a>
        {% endif %}
        {{ page }} / {{ page_count }}
        {% if page < page_count %}
        <a href="{{ url_for('show_place', place_id=place.id, page=page+1) }}">&gt;</a>
        {% endif %}
    </h3>
    {% endif %}
    {% for value in comments %}
    <div class="place-box">
      <a href="/user/{{ value.username }}">{{ value.username }}</a>: 
      {{ value.comment }}
    </div>
    {% endfor %}
    <form action="/create_comment" method="post">
        <label for="comment">Kommentoi: max 100 merkkiä</label><br>
        <textarea name="comment" id="comment" maxlength="100" rows="3" cols="30" required placeholder="Lisää kommentti:"></textarea><br>
        <input type="hidden" name="place_id" value="{{ place.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lisää kommentti" />
    </form>


    
{% endblock %}