{% extends "layout.html" %}

{% block title %}{{  item.title  }}{% endblock %}

{% block content %}

    {% if session.username == item.username %}
    <p>
        <a href="/edit_item/{{ item.id }}">Muokkaa</a> |
        <a href="/remove_item/{{ item.id }}">Poista</a> |
        <a href="/images/{{ item.id }}">Kuvat</a>
    </p>
    {% endif %}
    <h2>{{ item.title }}</h2>

    <p class="item-description">{{ item.description }}</p>
    {% if classes %}
    <p>
        {% for class in classes%}
        <li>{{ class.title}}: {{ class.value }}</li>
        {% endfor %}

    {% endif %}
    {% if item %}
        
        
    <li>Ilmoittaja: <a href="/user/{{ item.username }}">{{ item.username }}</a></li> 
    </p>
    {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Kuva ilmoituksesta" width="150" />
    {% endfor %}

    {% endif %}
    {% if comments %}
    <h3>Kommentit</h3>
    {%endif%}
    {% for value in comments %}
    <li><a href="/user/{{ value.username}}">{{ value.username }}</a>: {{ value.comment }}</li>
    {% endfor %}
    <form action="/create_comment" method="post">
        <label for="comment"></label><br>
        <textarea name="comment" maxlength="500" rows="3" cols="30" placeholder="Lisää kommentti:"></textarea><br>
        <input type="hidden" name="item_id" value="{{ item.id }}" />
        <input type="submit" value="Lisää kommentti" />
    </form>
    
{% endblock %}