{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <h1>Käyttäjä: {{ user.username }}</h1>
    Käyttäjällä {{ user.username }} on {{ total_places }} ilmoitusta.

    <h2>Käyttäjän ilmoitukset</h2>

    <p>
        {% if page > 1 %}
            <a href="/user/{{ user.username }}/{{ page - 1 }}">&lt;</a>
        {% endif %}
        Sivu {{ page }}/{{ page_count }}
        {% if page < page_count %}
            <a href="/user/{{ user.username }}/{{ page + 1 }}">&gt;</a>
        {% endif %}
    </p>

    {% for place in places %}
        <li><a href="/place/{{ place.id }}">{{ place.title }}</a></li>
    {% endfor %}
{% endblock %}
