{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>Käyttäjä: {{ user.username }}</h1>
  Käyttäjällä {{ user.username }} on {{ total_places }} ilmoitusta ja
   hän on kirjoittanut {{ total_comments }} kommenttia.

  <h2>Käyttäjän ilmoitukset</h2>

  <p>
    {% if page > 1 %}
      <a href="/user/{{ user.username }}/{{ page - 1 }}">&lt;</a>
    {% endif %}
    Sivu {{ page }}/{{ page_count }}
    {% if page < page_count %}
      <a href="/user/{{ user.username }}/{{ page + 1 }}">&gt;</a>
    {% endif %}
  </p>

  {% if not places %}
    <li>Ei ilmoituksia</li>
  {% else %}
    {% for place in places %}
      <div class="place-box">
        <a href="/place/{{ place.id }}">{{ place.title }}</a><br>
        <small>
            {% for class in place_classes[place.id] %}
              {{ class }}{% if not loop.last %} | {% endif %}
            {% endfor %}
        </small>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
